:root{
  --primary-white:#ffff;
  --primary-orange:#f9ab00;
  --primary-dark:rgba(255,255,255,0);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
  --primary-hover-blue: cadetblue;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-black: #000000;
  --primary-green: green;

}
body{
  font-family: "Roboto Condensed" ,sans-serif !important;
  
}
/*************Hero*********/
.header-wrapper{
  position: relative;
  background: url(../media/images/bg_laptop.jpg) no-repeat;
  background-size: cover;
  background-position:center;

  height:60vh;
 
  margin: 0 -10px;
  padding: 0 5px;
}
.main-info{
display:flex;
position:absolute;
top:0;
right:0;
left:0;
bottom:0;
flex-direction:column;
justify-content:center;
align-items: center;
text-align:center;
font-family: "Roboto Condensed", sans-serif;
z-index:1;
}
.main-info  h1{
  color:var(--primary-orange);
  font-family: sans-serif;
  text-shadow:2px 2px #ff0000 ;

}
.main-info p{
  color:var(--primary-white);
  padding-left: 85px;
  padding-right: 85px;

  font-size: 2rem;


}

/********Typed Text***/
.typed-text{

  color: var(--primary-white);
}

@media(max-width:20px) {
  .main-info h1{
    font-size:1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}
/*********************/
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius:0;
  padding:0.625rem 0.75rem 0.75rem 0.75rem;
  color:var(--primary-white);
  margin: 2rem;

}
.btn-main-offer:hover{
  text-decoration:none;
  background-color: var(--primary-hover-red);
  color:var(--primary-white);
  transition: .2s ease-in-out;

}
/*******Particles Js******/
.tsparticles-canvas-el{
  position:absolute;
  height:100vh;
  width:100vw;
  z-index:1;
}
@media(max-width:768px){
.particles-canvas{
  display:none;
}
}
/******************* About Me *******************/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-hover-blue);
}
.containers .linkshare{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
    color: var(--primary-black);

}
.containers .link1 {
  color: var(--primary-black);
    margin-left: 10px;
}
.containers .link2 {
    margin-left: 10px;
    color: var(--primary-black);
}
.about-me-heading {
  color: var(--primary-hover-blue);
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}


/******************* Footer *******************/
.footer {
  width:100%;
  margin: 0px auto;
  max-width: 780px;
}
@media(max-width:767px){
  .footer{
    padding-top: 20px;
  }
}

.footer .containers {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
}

.footer .copyr {
    font-size: 90%;
    opacity: 0.7;
}
.footer .linkshare{

  color: var(--primary-black);
}
.footer .link1 {
  color: var(--primary-black);
    margin-left: 10px;
}
.footer .link2 {
    margin-left: 10px;
    color: var(--primary-black);
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}
/*****Container-style*****/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.main {

align-content: center;
  justify-content: center;
  align-items: center;
  margin:  0 auto 4rem auto;
  width: 100%;
  max-width: 1080px;
}
/*************blog*******/

.home-title {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.sticky-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}
.sticky-nav-button {
  color: black;
  background: #fff;
  border: 1px solid #ffffff;
  border-radius: 5%;
  padding: 0.5rem;
  margin-right: 1rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.sticky-nav-button:hover,
.sticky-nav-button:active {
  color: black;
  background: #efefef;
}

.card {
  padding: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  margin-top: 2rem;
  text-decoration: none;
  transition: transform 350ms;
  box-shadow: 0 1px 2px  var(--primary-black);
  border-Radius: 5px;
}
.card:hover {
  cursor: pointer;
  text-decoration: none;
  border-left: 2px solid black;
  transform: translateX(-2px);
  border-bottom: 1px solid black;
}

.card:first-of-type {
  margin-top: 4rem;
}

.card-title,
.card-title > a,
.card-link,
.card-link > a {
  margin: 0px;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.card-date {
  margin: 1rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.card-description {
  margin-top: 1rem;
  color: #707070;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.post-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.post-date {
  text-align: center;
  font-size: 1rem;

  margin-bottom: 4rem;
}

.post-body {
  margin: 0 auto 4rem auto;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body ol,
.postbody ul,
.post-body p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.post-body h2 {
  font-size: 2rem;
}

.post-body ol {
  margin-left: 2rem;
}

.previous-next-button {
  font-size: 1.25rem;
  color: black;
  background: #efefef;
  border: 1px solid #efefef;
  border-radius: 5%;
  padding: 1rem;
  margin-right: 1rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  min-width: 25%;
  font-family: "Open Sans", sans-serif;
}
